<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0-desktop</TargetFramework>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishDir>$(MSBuildProjectDirectory)/../../artifacts/publish/desktop/</PublishDir>
  </PropertyGroup>
</Project>