<ol id='menu-id-articles-0' class='menu menu-level0 show '>
  <li id='menu-item-articles-1' class='menu-item '>
    <span class='menu-item-row'><a href='/SemanticDiff/articles/packages/' class='menu-link  '>Packages</a></span>  </li>
  <li id='menu-item-articles-2' class='menu-item '>
    <span class='menu-item-row'><a href='/SemanticDiff/articles/packages/core/' class='menu-link  '>SemanticDiff.Core</a></span>  </li>
  <li id='menu-item-articles-3' class='menu-item '>
    <span class='menu-item-row'><a href='/SemanticDiff/articles/packages/diff/' class='menu-link  '>SemanticDiff.Diff</a></span>  </li>
  <li id='menu-item-articles-4' class='menu-item '>
    <span class='menu-item-row'><a href='/SemanticDiff/articles/packages/git/' class='menu-link  '>SemanticDiff.Git</a></span>  </li>
  <li id='menu-item-articles-5' class='menu-item '>
    <span class='menu-item-row'><a href='/SemanticDiff/articles/packages/layout/' class='menu-link  '>SemanticDiff.Layout</a></span>  </li>
  <li id='menu-item-articles-6' class='menu-item '>
    <span class='menu-item-row'><a href='/SemanticDiff/articles/packages/rendering/' class='menu-link  '>SemanticDiff.Rendering</a></span>  </li>
  <li id='menu-item-articles-7' class='menu-item '>
    <span class='menu-item-row'><a href='/SemanticDiff/articles/packages/semantics/' class='menu-link  '>SemanticDiff.Semantics</a></span>  </li>
  <li id='menu-item-articles-8' class='menu-item '>
    <span class='menu-item-row'><a href='/SemanticDiff/articles/packages/semantics-roslyn/' class='menu-link  '>SemanticDiff.Semantics.Roslyn</a></span>  </li>
  <li id='menu-item-articles-9' class='menu-item '>
    <span class='menu-item-row'><a href='/SemanticDiff/articles/packages/semantics-xaml/' class='menu-link  '>SemanticDiff.Semantics.Xaml</a></span>  </li>
  <li id='menu-item-articles-10' class='menu-item '>
    <span class='menu-item-row'><a href='/SemanticDiff/articles/packages/workbench/' class='menu-link  '>SemanticDiff.Workbench</a></span>  </li>
  <li id='menu-item-articles-11' class='menu-item '>
    <span class='menu-item-row'><a href='/SemanticDiff/articles/packages/controls-uno/' class='menu-link  '>SemanticDiff.Controls.Uno</a></span>  </li>
</ol>
